<!-- assets/recursos/img/orejitas.png -->



<!-- <div class="container">

  <div class="text-container">
    <h1 class="title">¡Bienvenido a MusicPro!</h1>
    <p class="subtitle">Tu mejor experiencia musical</p>
    <p class="description">
      Descubre nuevas canciones, crea tus listas favoritas y disfruta del mejor sonido. Una app impulsada por la pasión del 
      <b>Sr. Orejitas</b>, el ícono de la música y la innovación.
    </p>
    <button class="start-button" (click)="navigateToBuscar()">
      <i class="fa fa-play-circle"></i> Empezar a escuchar
    </button>
  </div>


  <div class="image-container">
    <img src="assets/recursos/img/orejitas.png" alt="Persona destacada" />
  </div>
</div> -->



<!-- assets/recursos/video/fondo2.mp4 -->
 <!-- assets/recursos/img/orejitas.png -->

 <!-- <div class="container">

  <video autoplay muted loop class="background-video">
    <source src="assets/recursos/video/fondo3.mp4" type="video/mp4" />
    Tu navegador no soporta el video.
  </video>

  <div class="content">
    <div class="text-animation">
      <h1 class="title">Bienvenido a la app de música</h1>
      <p class="description">Un prototipo y una idea que fue finacionada por el Señor Orejitas,</p>
      <p>quien es muy exitoso y ha traído grandes éxitos al mundo de la música y al Mundo.</p>
    </div>
    <button class="start-button" (click)="navigateToBuscar()">
      <i class="fa fa-music"></i> Empezar
    </button>
  </div>

  <div class="image-side">
    <img src="assets/recursos/img/orejitas.png" alt="Señor Orejitas" class="image-effect" />
  </div>
</div> -->







<main>
 
  <ul class='slider'>
    <li class='item' style="background-image: url('assets/recursos/img/1.png')">
     
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/o5.jpg" alt="Profile Image">
        <h2 class='title'> Líder Inspirador</h2>
        <p class='description'>
          EL Señor Orejitas tiene un enfoque innovador y espíritu emprendedor han dejado una marca imborrable en el mundo musical.</p>
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
      </div>
    </li>
    <li class='item' style="background-image: url('assets/recursos/img/2.jpeg')">
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/o6.jpg" alt="Profile Image">
        <h2 class='title'> Orejitas Sound</h2>
        <p class='description'>  En esta app financiada por el exitoso Señor Orejitas, hemos creado un lugar para que escuches, descubras y vivas la música como nunca.  </p>
           <!-- Iconos de redes sociales -->
  
        
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
        <div class="social-icons">
          <a href="https://www.facebook.com/abel.gomez.37051" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://github.com/abelgomezc" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/abel-g%C3%B3mez-17080529b/" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/abelgomez5622/" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
    </li>
    <li class='item' style="background-image: url('assets/recursos/img/3.png')">
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/orejitas.png" alt="Profile Image">
        <h2 class='title'>Un visionario en cada paso</h2>
        <p class='description'> 
          Lo imposible parece sencillo para el Señor Orejitas. Su visión y creatividad lo convierten en un verdadero prodigio.  </p>
        <!-- <button>Read More</button> -->
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
      </div>
    </li>
    <li class='item' style="background-image: url('assets/recursos/img/4.png')">
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/o6.jpg" alt="Profile Image">
        <h2 class='title'>Un prodigio en todo lo que toca!</h2>
        <p class='description'>
        
          El Señor Orejitas es un genio sin límites, destacando en todo lo que emprende y siendo un referente de éxito.      </p>
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
      </div>
    </li>
    <li class='item' style="background-image: url('assets/recursos/img/8.png')">
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/o7.jpg" alt="Profile Image">
        <h2 class='title'>Maestro de Logros</h2>
        <p class='description'>
          
          Señor Orejitas ha demostrado ser un líder excepcional. Con Orejitas, la innovación siempre está garantizada.     </p>
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
      </div>
    </li>
    <li class='item' style="background-image: url('assets/recursos/img/9.png')">
      <div class='content'>
        <img class="profile-pic" src="assets/recursos/img/t.png" alt="Profile Image">
        <h2 class='title'>"Leyenda Inspiradora"</h2>
        <p class='description'>  
          Para el Señor Orejitas, el Tío Cuña es más que un maestro, es una leyenda. Sus consejos han guiado cada paso de su camino hacia la grandeza. </p>
    
        <button class="start-button" (click)="navigateToBuscar()">
          <i class="fa fa-music"></i> Empezar
        </button>
      </div>
    </li>
    
  </ul>
  <nav class='nav'>

    <i class="fa fa-solid fa-arrow-left btn prev"></i>
<i class="fa fa-solid fa-arrow-right btn next"></i>
  </nav>

  
</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>