<footer class="footer">
    <div class="social-icons">
      <a href="https://www.facebook.com/abel.gomez.37051" target="_blank" aria-label="Facebook">
        <i class="pi pi-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/abel-g%C3%B3mez-17080529b/" target="_blank" aria-label="linkedin">
        <i class="pi pi-linkedin"></i>
      </a>
     
      <a href="https://github.com/abelgomezc" target="_blank" aria-label="github">
        <i class="pi pi-github"></i>
      </a>
    </div>
    <div class="footer-name">
      © 2024 Abel Gomez
    </div>
  </footer>
  
